Repository debauchee/barrier, pull requests merged in 2019-08, with the labels that each got.

#401 [Build[ update pre-build script to call VS2019
  pre-build.bat
Labels: build, enhancement, windows

#403 Snap: Change CMake builds to be of Release type
  snap/snapcraft.yaml
Labels: build, enhancement

#405 Tidy up and fix lint errors in build scripts
  clean_build.sh
  osx_environment.sh
Labels: build, enhancement

#391 Re-implement patch for horizontal scrolling and extra mouse buttons
  .gitignore
  src/lib/barrier/mouse_types.h
  src/lib/platform/MSWindowsDesks.cpp
  src/lib/platform/MSWindowsHook.cpp
  src/lib/platform/MSWindowsScreen.cpp
  src/lib/platform/MSWindowsScreen.h
  src/lib/platform/OSXScreen.mm
  src/lib/platform/XWindowsScreen.cpp
  src/lib/platform/XWindowsScreen.h
Labels: enhancement

#417 [CMake] properly declare FPIC
  CMakeLists.txt
Labels: build, enhancement

#418 [Azure Pipelines] use QT 5.13.0
  azure-pipelines/build_env_tmpl.bat
  azure-pipelines/download_install_qt.ps1
Labels: build, enhancement
